h1,
h2 {
    font-family: 'Yellowtail', cursive;
}

#header-area {
    padding-bottom: 2em;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}


.delete-form{
    display: inline;
}