h1,
h2 {
    font-family: 'Yellowtail', cursive;
}

#header-area {
    padding-bottom: 2em;
}


.jumbotron {
    background-color: #fff;
    text-align: center;
}

#center-links {
    /*border: 1px solid red;*/
    padding-top: 1%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}


.delete-form{
    display: inline;
}

.login-section,
.signup-section {
    margin: 2em;
}